Code - OSS/
Franz/
Hyper/
ObinsKit/
OpenRGB/
QtProject.conf
TabNine/
Thunar/
YouTube Music/
autostart/
chromium/
configstore/
dconf/
discord/
filezilla/
google-chrome/
gtk-2.0/
htop/
kmagrc
lxsession/
menus/
mpd/
mpv/
neofetch/
pavucontrol.ini
peazip/
pnmixer/
pulse/
redshift/
rofi/
screenkey.json
solaar/
sublime-merge/
sublime-text/
sxhkd/
unity3d/
variety/
vdu_controls.qt.state/
vdu_controls/
vk-desktop/
vlc/
xfce4/
yay/
ytfzf/